.cardContainer{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:25px;
    margin:2rem ;
}
.Products{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}
.img_div img{
       width: 250px;
       height: 250px;
}

.img_div {
    width: 250px;
    height: 250px;
}